<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M28.32 22.75H25C22.51 22.75 21.25 21.34 21.25 18.55V15.68C21.25 14.66 21.37 13.2 22.43 12.4C23.32 11.74 24.6 11.69 26.49 12.24C28.97 12.96 31.04 15.03 31.76 17.51C32.31 19.39 32.26 20.68 31.6 21.56C30.8 22.63 29.34 22.75 28.32 22.75ZM24.28 13.36C23.87 13.36 23.55 13.44 23.34 13.6C22.95 13.89 22.76 14.57 22.76 15.68V18.56C22.76 20.8 23.62 21.26 25.01 21.26H28.33C29.43 21.26 30.11 21.07 30.41 20.68C30.76 20.22 30.73 19.3 30.34 17.95C29.76 15.98 28.06 14.27 26.09 13.7C25.35 13.47 24.75 13.36 24.28 13.36Z" fill="#AEAAAA"/>
<path d="M21.0699 32.7501C20.5399 32.7501 19.9999 32.7101 19.4599 32.6201C15.3699 31.9601 12.0399 28.6401 11.3799 24.5501C10.5299 19.2901 13.9199 14.3301 19.1099 13.2701C19.5199 13.1901 19.9099 13.4501 19.9999 13.8501C20.0799 14.2601 19.8199 14.6501 19.4199 14.7401C15.0299 15.6401 12.1499 19.8401 12.8799 24.3101C13.4399 27.7701 16.2499 30.5801 19.7099 31.1401C24.1999 31.8601 28.3899 28.9701 29.2799 24.5601C29.3599 24.1501 29.7599 23.8901 30.1599 23.9701C30.5699 24.0501 30.8299 24.4501 30.7499 24.8501C29.7999 29.5201 25.7199 32.7501 21.0699 32.7501Z" fill="#AEAAAA"/>
</svg>
