<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31 20H13M27.4 13V16.6M16.6 13V16.6M20 31H17C15.1144 31 14.1716 31 13.5858 30.4142C13 29.8284 13 28.8856 13 27V18.8C13 16.9144 13 15.9716 13.5858 15.3858C14.1716 14.8 15.1148 14.8 17.0013 14.8C20.5435 14.8 23.4565 14.8 26.9987 14.8C28.8852 14.8 29.8284 14.8 30.4142 15.3858C31 15.9716 31 16.9144 31 18.8V20.5" stroke="#AEAAAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M18.5 27.5C18.5 28.0523 18.0523 28.5 17.5 28.5C16.9477 28.5 16.5 28.0523 16.5 27.5C16.5 26.9477 16.9477 26.5 17.5 26.5C18.0523 26.5 18.5 26.9477 18.5 27.5Z" fill="#AEAAAA"/>
<path d="M18.5 23.5C18.5 24.0523 18.0523 24.5 17.5 24.5C16.9477 24.5 16.5 24.0523 16.5 23.5C16.5 22.9477 16.9477 22.5 17.5 22.5C18.0523 22.5 18.5 22.9477 18.5 23.5Z" fill="#AEAAAA"/>
<path d="M23 23.5C23 24.0523 22.5523 24.5 22 24.5C21.4477 24.5 21 24.0523 21 23.5C21 22.9477 21.4477 22.5 22 22.5C22.5523 22.5 23 22.9477 23 23.5Z" fill="#AEAAAA"/>
<path d="M32 27.5C32 29.9853 29.9853 32 27.5 32C25.0147 32 23 29.9853 23 27.5C23 25.0147 25.0147 23 27.5 23C29.9853 23 32 25.0147 32 27.5Z" stroke="#AEAAAA" stroke-width="2"/>
<path d="M27.5 26V27.5H29" stroke="#AEAAAA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
