<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M30.75 32.0926C30.75 32.7775 30.2152 33.3334 29.5536 33.3334C28.8919 33.3334 28.3571 32.7775 28.3571 32.0926C28.3571 28.6719 25.6736 25.8889 22.375 25.8889C19.0764 25.8889 16.3929 28.6719 16.3929 32.0926C16.3929 32.7775 15.8581 33.3334 15.1964 33.3334C14.5348 33.3334 14 32.7775 14 32.0926C14 27.3034 17.758 23.4074 22.375 23.4074C26.992 23.4074 30.75 27.3034 30.75 32.0926ZM22.375 13.4815C23.6947 13.4815 24.7679 14.5944 24.7679 15.963C24.7679 17.3315 23.6947 18.4445 22.375 18.4445C21.0553 18.4445 19.9822 17.3315 19.9822 15.963C19.9822 14.5944 21.0553 13.4815 22.375 13.4815ZM22.375 20.9259C25.0143 20.9259 27.1607 18.7 27.1607 15.963C27.1607 13.2259 25.0143 11 22.375 11C19.7357 11 17.5893 13.2259 17.5893 15.963C17.5893 18.7 19.7357 20.9259 22.375 20.9259Z" fill="#AEAAAA"/>
</svg>
