<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.625 15.7083C14.9681 15.7083 13.625 17.0514 13.625 18.7083V29.2916C13.625 30.9484 14.9681 32.2916 16.625 32.2916H31.375C33.0319 32.2916 34.375 30.9484 34.375 29.2916V18.7083C34.375 17.0514 33.0319 15.7083 31.375 15.7083H16.625ZM15.625 18.7083C15.625 18.156 16.0727 17.7083 16.625 17.7083H26.125V30.2916H16.625C16.0727 30.2916 15.625 29.8439 15.625 29.2916V18.7083ZM28.125 30.2916H31.375C31.9273 30.2916 32.375 29.8439 32.375 29.2916V18.7083C32.375 18.156 31.9273 17.7083 31.375 17.7083H28.125V30.2916Z" fill="#AEAAAA"/>
</svg>
