<svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="47" height="47" rx="23.5" fill="#262626"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.125 15.2083C14.4681 15.2083 13.125 16.5514 13.125 18.2083V28.7916C13.125 30.4484 14.4681 31.7916 16.125 31.7916H30.875C32.5319 31.7916 33.875 30.4484 33.875 28.7916V18.2083C33.875 16.5514 32.5319 15.2083 30.875 15.2083H16.125ZM15.125 18.2083C15.125 17.656 15.5727 17.2083 16.125 17.2083H25.625V29.7916H16.125C15.5727 29.7916 15.125 29.3439 15.125 28.7916V18.2083ZM27.625 29.7916H30.875C31.4273 29.7916 31.875 29.3439 31.875 28.7916V18.2083C31.875 17.656 31.4273 17.2083 30.875 17.2083H27.625V29.7916Z" fill="white"/>
</svg>
