<svg width="48" height="47" viewBox="0 0 48 47" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.625 15.2085C14.9681 15.2085 13.625 16.5516 13.625 18.2085V28.7918C13.625 30.4487 14.9681 31.7918 16.625 31.7918H31.375C33.0319 31.7918 34.375 30.4487 34.375 28.7918V18.2085C34.375 16.5516 33.0319 15.2085 31.375 15.2085H16.625ZM15.625 18.2085C15.625 17.6562 16.0727 17.2085 16.625 17.2085H26.125V29.7918H16.625C16.0727 29.7918 15.625 29.3441 15.625 28.7918V18.2085ZM28.125 29.7918H31.375C31.9273 29.7918 32.375 29.3441 32.375 28.7918V18.2085C32.375 17.6562 31.9273 17.2085 31.375 17.2085H28.125V29.7918Z" fill="#626262"/>
</svg>
