<svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.6578 26.553L18.6577 26.5514C18.6445 26.4164 18.7431 26.2915 18.8874 26.2777L18.8898 26.2775C19.0116 26.2653 19.1484 26.3707 19.1623 26.5076C19.3133 28.1406 19.7843 29.3788 20.8052 30.1849C21.8078 30.9766 23.2422 31.27 25.12 31.27H25.25C27.3196 31.27 28.8704 30.9092 29.8848 29.8948C30.8992 28.8804 31.26 27.3296 31.26 25.26V18.74C31.26 16.6703 30.8992 15.1196 29.8848 14.1052C28.8704 13.0908 27.3196 12.73 25.25 12.73H25.12C23.2318 12.73 21.7903 13.0284 20.7867 13.8353C19.7681 14.6543 19.3041 15.9103 19.1628 17.5666C19.1399 17.7264 19.0129 17.8142 18.8874 17.8022L18.8874 17.8021L18.8756 17.8013C18.7463 17.792 18.6389 17.6763 18.6485 17.5288C18.8121 15.6213 19.4002 14.3302 20.4001 13.5027C21.4112 12.6658 22.9301 12.23 25.11 12.23H25.24C27.6375 12.23 29.23 12.7446 30.2327 13.7473C31.2354 14.75 31.75 16.3425 31.75 18.74V25.26C31.75 27.6575 31.2354 29.25 30.2327 30.2527C29.23 31.2554 27.6375 31.77 25.24 31.77H25.11C22.9445 31.77 21.4341 31.3414 20.4249 30.5176C19.4269 29.7029 18.8352 28.432 18.6578 26.553Z" stroke="#AEAAAA"/>
<path d="M25.0001 22.75H13.6201C13.2101 22.75 12.8701 22.41 12.8701 22C12.8701 21.59 13.2101 21.25 13.6201 21.25H25.0001C25.4101 21.25 25.7501 21.59 25.7501 22C25.7501 22.41 25.4101 22.75 25.0001 22.75Z" fill="#AEAAAA"/>
<path d="M15.8499 26.1001C15.6599 26.1001 15.4699 26.0301 15.3199 25.8801L11.9699 22.5301C11.6799 22.2401 11.6799 21.7601 11.9699 21.4701L15.3199 18.1201C15.6099 17.8301 16.0899 17.8301 16.3799 18.1201C16.6699 18.4101 16.6699 18.8901 16.3799 19.1801L13.5599 22.0001L16.3799 24.8201C16.6699 25.1101 16.6699 25.5901 16.3799 25.8801C16.2399 26.0301 16.0399 26.1001 15.8499 26.1001Z" fill="#AEAAAA"/>
</svg>
