<svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect y="0.5" width="44" height="44" rx="22" fill="#F2F2F2"/>
<path d="M22.02 31.03C19.69 31.03 17.36 30.66 15.15 29.92C14.31 29.63 13.67 29.04 13.39 28.27C13.1 27.5 13.2 26.65 13.66 25.89L14.81 23.98C15.05 23.58 15.27 22.78 15.27 22.31V19.42C15.27 15.7 18.3 12.67 22.02 12.67C25.74 12.67 28.77 15.7 28.77 19.42V22.31C28.77 22.77 28.99 23.58 29.23 23.99L30.37 25.89C30.8 26.61 30.88 27.48 30.59 28.27C30.3 29.06 29.67 29.66 28.88 29.92C26.68 30.66 24.35 31.03 22.02 31.03ZM22.02 14.17C19.13 14.17 16.77 16.52 16.77 19.42V22.31C16.77 23.04 16.47 24.12 16.1 24.75L14.95 26.66C14.73 27.03 14.67 27.42 14.8 27.75C14.92 28.09 15.22 28.35 15.63 28.49C19.81 29.89 24.24 29.89 28.42 28.49C28.78 28.37 29.06 28.1 29.19 27.74C29.32 27.38 29.29 26.99 29.09 26.66L27.94 24.75C27.56 24.1 27.27 23.03 27.27 22.3V19.42C27.27 16.52 24.92 14.17 22.02 14.17Z" fill="#626262"/>
<path d="M23.88 14.4401C23.81 14.4401 23.74 14.4301 23.67 14.4101C23.38 14.3301 23.1 14.2701 22.83 14.2301C21.98 14.1201 21.16 14.1801 20.39 14.4101C20.11 14.5001 19.81 14.4101 19.62 14.2001C19.43 13.9901 19.37 13.6901 19.48 13.4201C19.89 12.3701 20.89 11.6801 22.03 11.6801C23.17 11.6801 24.17 12.3601 24.58 13.4201C24.68 13.6901 24.63 13.9901 24.44 14.2001C24.29 14.3601 24.08 14.4401 23.88 14.4401Z" fill="#626262"/>
<path d="M22.02 33.3101C21.03 33.3101 20.07 32.9101 19.37 32.2101C18.67 31.5101 18.27 30.5501 18.27 29.5601H19.77C19.77 30.1501 20.01 30.7301 20.43 31.1501C20.85 31.5701 21.43 31.8101 22.02 31.8101C23.26 31.8101 24.27 30.8001 24.27 29.5601H25.77C25.77 31.6301 24.09 33.3101 22.02 33.3101Z" fill="#626262"/>
</svg>
