<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24px" height="24px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
<g><path style="opacity:0.979" fill="#000000" d="M 5.5,0.5 C 9.17766,3.00498 12.8443,3.00498 16.5,0.5C 17.5237,1.85318 18.857,2.51985 20.5,2.5C 20.5,8.5 20.5,14.5 20.5,20.5C 14.5,20.5 8.5,20.5 2.5,20.5C 2.5,14.5 2.5,8.5 2.5,2.5C 4.17876,2.71481 5.17876,2.04814 5.5,0.5 Z M 4.5,7.5 C 9.16667,7.5 13.8333,7.5 18.5,7.5C 18.5,11.1667 18.5,14.8333 18.5,18.5C 13.8333,18.5 9.16667,18.5 4.5,18.5C 4.5,14.8333 4.5,11.1667 4.5,7.5 Z"/></g>
<g><path style="opacity:1" fill="#000000" d="M 12.5,12.5 C 13.8333,12.5 15.1667,12.5 16.5,12.5C 16.5,13.8333 16.5,15.1667 16.5,16.5C 15.1667,16.5 13.8333,16.5 12.5,16.5C 12.5,15.1667 12.5,13.8333 12.5,12.5 Z"/></g>
</svg>
