<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 viewBox="0 0 24.000000 24.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,24.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M30 201 c0 -6 4 -13 10 -16 6 -4 1 -18 -12 -35 -20 -27 -20 -30 -4
-54 24 -38 72 -59 117 -52 22 3 40 2 44 -4 4 -6 11 -7 17 -4 6 4 -27 44 -73
90 -80 81 -99 95 -99 75z m62 -83 c2 -15 11 -24 26 -26 27 -4 30 -22 3 -22
-25 0 -51 26 -51 51 0 27 18 24 22 -3z"/>
<path d="M99 186 c7 -8 23 -17 36 -20 15 -4 27 -16 31 -30 3 -14 14 -32 24
-41 17 -16 19 -15 30 4 14 27 -1 56 -43 81 -39 24 -96 28 -78 6z"/>
</g>
</svg>
