<script>
	import { Router, Route } from "svelte-navigator";
	import EditorComponent from "../src/pages/Constructor/EditorComponent.svelte";
	import Lending from "./pages/Lending.svelte";
	import WorkSpace from "./pages/WorkSpace/WorkSpace.svelte";
	import CourceModules from "./pages/WorkSpace/Glavs/CourceModules.svelte";
	import CourceContainer from "./MainInterface/CourceContainer.svelte";
	import CalendarContainer from "./MainInterface/CalendarContainer.svelte";
	import SignUp from "./pages/Auth/SignUp.svelte";
	import SignIn from "./pages/Auth/SignIn.svelte";
	import ConstructorSpace from "./pages/Constructor/ConstructorSpace.svelte";

	export let url = "";

</script>

<Router url="{url}">
	<Route path="/" component="{Lending}" />
	<Route path="WorkSpace" component="{WorkSpace}" />
	<Route path="WorkSpace/CourceModules/:id/:roomId" let:params>
		<WorkSpace defaultComponent = {CourceModules} defaultProps={{id: params.id, roomId: params.roomId}}/>
	</Route>
	<Route path="WorkSpace/Cources/:id" let:params>
		<WorkSpace defaultComponent = {CourceContainer} defaultProps={{id: params.id}}/>
	</Route>
	<Route path="WorkSpace/Cources/Search/:name" let:params>
		<WorkSpace defaultComponent = {CourceContainer} defaultProps={{nameCource: params.name}}/>
	</Route>
	<Route path="WorkSpace/ChapterModuleSubject/:id/:fileId/:roomId" let:params>
		<WorkSpace defaultComponent = {EditorComponent} defaultProps={{id: params.id, fileId: params.fileId, roomId: params.roomId}}/>
	</Route>
	<Route path="WorkSpace/Calendar">
		<WorkSpace defaultComponent = {CalendarContainer} />
	</Route>
	<Route path="WorkSpace/ConstructorSpacePage">
		<WorkSpace defaultComponent = {ConstructorSpace} />
	</Route>
	<Route path="SignIn" component="{SignIn}" />
</Router>

<style>
	
</style>