<script>
    import {Button, Input} from 'flowbite-svelte';
    import {modifyChapter} from "../../../utils/chapterUtil.js";
    import { createEventDispatcher } from 'svelte';

    const dispatch = createEventDispatcher();
    export let name = "";
    export let id = "";
    export let courceId = "";

    let files = [];
</script>

<form class="flex flex-col space-y-6" style="padding: 3%;" on:submit|preventDefault={async() => {
    try {
        let result = await modifyChapter(id, name, courceId, files[0]);
        if(!result.success) {
            dispatch("showMessage", {message: result.erroeMessage, success: false});
        } else {
            dispatch("showMessage", {message: "Успешно обновлено", success: true});
        }
    } catch (error) {
        dispatch("showMessage", {message: error, success: false});
    }
}}>
    <Input placeholder="Название главы" bind:value={name} />
    <input type="file" bind:files />
    <Button type="submit" color="dark">{id ? "Обновить": "Создать"}</Button>
</form>