<script>
    import {Label, Input, Textarea, Button, Timeline, TimelineItem, Spinner} from 'flowbite-svelte';
    import {getCourceDescription} from "../../../utils/getCourceDescription.js";
    import { createEventDispatcher } from 'svelte';
    import {createRoom} from "../../../utils/getMessageFromMatrix.js"
    import {createCource, updateCource, updateRoomId} from "../../../utils/createCource.js";
    import  "../../UI/tailwindapp.css";
    import ExpanderForm from '../ExpanderForm.svelte';
    import {updateRooms} from "../../../utils/getMessageFromMatrix.js";
    

    let needReload = false;
  export let isEditPage = false;
  export let expanderList = [];
  export let nameDefault = "";
  export let descriptionDefault = "";
  export let idDefault = "";

  let expTest = expanderList;
  const dispatch = createEventDispatcher();
  let created = false;
  let success;
  let name = nameDefault;
  let description = descriptionDefault;
  let files = [];

  function getTitle() {
    return isEditPage ? "Редактирование" : "Создать курс"
  }
</script>

<Timeline>
    <TimelineItem title={getTitle()}>
        <form class="flex flex-col space-y-6" on:submit|preventDefault={async() => {
            try {
                if(isEditPage) {
                    let result = await updateCource(name, files[0], idDefault, description);
                    if(!result.success) {
                        dispatch("showError", {error: `При обновлении курса возникла ошибка: ${result.errorMessage}`});
                    }
                } else {
                    let result = await createCource(name, description, files[0]);
                    if(result.success) {
                        let courceId = result.response;                        
                        idDefault = courceId;
                        let roomId = await createRoom(name);
                        success = await updateRoomId(courceId, roomId);
                        await updateRooms();
                    }
                    dispatch("successCreation", {message: "Успешно создано"});
                }
                
            } catch (error) {
                dispatch("showError", {error: `При создании курса возникла ошибка: ${error}`});
            }
        }}>
            <div class="mb-6">
                <Label for="large-input" class="block mb-2">Название курса</Label>
                <Input required id="large-input" size="lg" bind:value="{name}"/>
            </div>

            <div class="mb-6">
                <Input required id="large-input" size="lg" bind:value="{description}" placeholder="Описание курса"/>
            </div>
    
            <div class="mb-6">
                <Label class="pb-2">Загрузите svg-изображение для обложки курса</Label>
                <input type="file" id="cource-title" bind:files accept=".svg"/>
            </div>
            <Button type="submit" class="w-full1" color="green">{isEditPage ? "Обновить" : "Создать"}</Button>
        </form>
    </TimelineItem>

    <TimelineItem title="Добавить навыки">
        <div>
            <Button color="dark" on:click={() => {
                debugger;
                expanderList.push({expander: "", expanderVariantValues: []});
                expanderList = expanderList;
            }}>Добавить навык</Button>
            {#key expanderList}
                {#each expanderList as expander}
                    <ExpanderForm courceId={idDefault} {...expander} on:showError={(event) => {
                        dispatch("showError", {error: `При добавлении описания возникла ошибка: ${event.detail.error}`});
                    }} 
                    on:successCreation={(event) => {
                        expanderList.push(event.detail.expanderValue);
                        dispatch("successCreation", {message: event.detail.message});
                    }}/>
                {/each} 
            {/key}
            
            
        </div>
    </TimelineItem>
</Timeline>

<style>

</style>