<script>
  import { Label, Spinner, Input, Timeline, TimelineItem, MultiSelect, Button } from "flowbite-svelte";
  import { createEventDispatcher } from 'svelte';
  import {fly} from "svelte/transition";
  import {getAvailableCourceToAddTopic, getAvailableCourceToDeleteTopic} from "../../../utils/getUserWorks";
  import localUser from "../../pages/Auth/localUser";
  import {createTopic, addCourceToTopic, deleteCourceFromTopic, updateTopic} from "../../../utils/createCource.js";
  import "../../UI/tailwindapp.css";

  export let isEditPage = false;
  export let nameDefault = "";
  export let idDefault = "";

  let rooms = [];
  let isNeedToReload = false;

  let selected = [];
  let courceList = [];

  let selectedDelete = [];
  let courceToDeleteList = [];
  localUser.subscribe((user) => {
    rooms = user.rooms;
  })

  function getTitle(){
    return isEditPage ? "Редактирование" : "Создать тематику";
  }

  let createdTopicId = idDefault;
  const dispatch = createEventDispatcher();
  let created = isEditPage;
  let name = nameDefault;
  let files = []
</script>

<Timeline>
    <TimelineItem title={getTitle()}>
        <form class="flex flex-col space-y-6" on:submit|preventDefault={async() =>{
            created = true;
        }}>
        <div class="mb-6">
            <Label for="large-input" class="block mb-2">Название тематики</Label>
            <Input id="large-input" size="lg" bind:value="{name}"/>
        </div>
    
        <div class="mb-6">
            <Label class="pb-2">Загрузите изображение для обложки тематики</Label>
            <input type="file" id="cource-title" bind:files/>
        </div>
    
        <Button type="submit" class="w-full1" color="green" on:click={async() =>{
            try {
                if(isEditPage) {
                    let updateResult = await updateTopic(name, files[0], idDefault);
                    if(!updateResult.success) {
                        dispatch("showError", {error: `При обновлении произошла ошибка: ${updateResult.errorMessage}`});
                    } else {
                        dispatch("successCreation", {message: "Успешно обновлено"});
                    }
                } else {
                    createdTopicId = await createTopic(name, files[0]);
                    created = true;
                    dispatch("successCreation", {message: "Успешно создано"});
                }
            } catch (error) {
                created = false;
                dispatch("showError", {error: `При создании тематики возникла ошибка: ${error}`});
            }
        }}>{isEditPage ? "Обновить" : "Создать"}</Button>
        </form>
    </TimelineItem>
    {#if created === true}
    <TimelineItem title="Управление курсами в тематике" >
        <div transition:fly="{{ y: 30, duration: 3 }}">
            {#key isNeedToReload}
                {#key rooms}
                    {#await getAvailableCourceToAddTopic(createdTopicId)}
                        <Spinner />
                    {:then data} 
                        {#each data.response as cource}
                            <div style="visibility: hidden;">
                                {courceList.push({name: cource.name, value: cource.id})}
                            </div>
                        {/each}
                        {#if courceList.length > 0}
                            <MultiSelect items={courceList} bind:value={selected} size="sm" placeholder="Добавить курс к тематике"/>
                            <div class="my-1">
                                <Button color="dark" on:click={async () => {
                                    let response = await addCourceToTopic(createdTopicId, selected);
                                    if(!response.success) {
                                        dispatch("showError", {error: `При добавлении курса в тематику возникла ошибка: ${response.errorMessage}`});
                                        return;
                                    } else {
                                        courceToDeleteList = [];
                                        courceList = [];
                                        selectedDelete = [];
                                        selected = [];
                                        isNeedToReload = !isNeedToReload;
                                    }
                                }}>Выбрать</Button>
                            </div>
                            {:else}
                            <Label>Нет курсов доступных для добавления</Label>
                        {/if}                        
                    {/await}
                    {#await getAvailableCourceToDeleteTopic(createdTopicId)}
                        <Spinner/>
                    {:then data} 
                        {#each data.response as courceD}
                        <div style="visibility: hidden;">
                            {courceToDeleteList.push({name: courceD.name, value: courceD.id})}
                        </div>
                        {/each}
                        {#if courceToDeleteList.length > 0}
                            <MultiSelect items={courceToDeleteList} bind:value={selectedDelete} size="sm" placeholder="Удалить курсы из тематики"/>
                            <div class="my-1">
                                <Button color="dark" on:click={async () => {
                                    let response = await deleteCourceFromTopic(createdTopicId, selectedDelete);
                                    if(!response.success) {
                                        dispatch("showError", {error: `При удалении курса из тематики возникла ошибка: ${response.errorMessage}`});
                                        return;
                                    } else {
                                        courceToDeleteList = [];
                                        courceList = [];
                                        selectedDelete = [];
                                        selected = [];
                                        isNeedToReload = !isNeedToReload;
                                    }
                                }}>Выбрать</Button>
                            </div>
                            {:else}
                            <Label>Нет курсов доступных для удаления</Label>
                        {/if}                        
                    {/await}
                {/key}
            {/key}
        </div>
      </TimelineItem>
    {/if}
  </Timeline>

