<script>
  import { Modal } from "flowbite-svelte";
  import {createEventDispatcher} from 'svelte';

  const dispatcher = createEventDispatcher();

  export let message = "Документ не найден. Автор мог его удалить, либо ещё не добавил";
  export let openValue = false;

</script>

<Modal on:close={() => {
    dispatcher("closed");
}} bind:open={openValue} title="Ошибка доступа" size="sm" autoclose={false} class="w-full">
    <p>{message}</p>
</Modal>