<script>
  import { Button, Input, MultiSelect, Spinner, Modal } from "flowbite-svelte";
  import { DateInput } from 'date-picker-svelte'
  import {planeEvent, getUserId} from "../../../utils/getUserWorks";
  import {getStudentsOfCource} from "../../../utils/getMessageFromMatrix";
  import { createEventDispatcher } from 'svelte';

    let maxDate = new Date();

    switch (maxDate.getDay())
    {
        case 0: maxDate.setDate(maxDate.getDate() + 5);
        break;
        case 1: maxDate.setDate(maxDate.getDate() + 4);
        break;
        case 2: maxDate.setDate(maxDate.getDate() + 3);
        break;
        case 3: maxDate.setDate(maxDate.getDate() + 2);
        break;
        case 4: maxDate.setDate(maxDate.getDate() + 1);
        break;
        case 6: maxDate.setDate(maxDate.getDate() + 6);
        break;
    }

    let open = false;
    maxDate.setHours(17);

  const dispatch = createEventDispatcher();

  export let chapterId = "";
  export let roomId = "";

  let date = new Date()
  let urlValue = ""

  let selected = [];
  let studients = [];

</script>

<form style="display: flex;
flex-direction: column;
gap: 1rem;" on:submit|preventDefault={async() => {
    try {
        dispatch("showBodyMask");
        if(selected.length == 0) {
            dispatch("hideBodyMask");
            open = true;
            return;
        }
        let result = await planeEvent(urlValue, date, chapterId, selected);
        if(!result.success) {
            dispatch("showMessage", {message: result.errorMessage, success: false});
        } else {
            dispatch("showMessage", {message: "Событие успешно запланировано", success: true});
        }
    } catch (error) {
        dispatch("showMessage", {message: error, success: false});
    } finally {
        dispatch("hideBodyMask");
    }
    
}}>
    <Input placeholder="Ссылка на встречу(оптимально)" bind:value={urlValue}/>
    {#await getStudentsOfCource(roomId)}
        <Spinner color="green"/>
    {:then data} 
    {#each data as userName}
        {#await getUserId(userName)}
            <Spinner color="green"/>
        {:then userData} 
            <div style="display: none;">{studients.push({name: userName, value: userData.data})}</div>
        {/await}
    {/each}
    <MultiSelect items={studients} bind:value={selected} size="lg"/>
    {/await}
    <DateInput min={date} max={maxDate} bind:value={date} />

    <Button color="dark" type="submit">Запланировать</Button>
</form>

<Modal title="Ошибка" bind:open color="red" autoclose>
    <div class="text-base leading-relaxed">Не выбраны участники для события. Необходимо выбрать хотя бы одного</div>
  </Modal>
