<script>
  import { Button, Input } from "flowbite-svelte";
  import {addSubjectToChapter} from "../../../utils/chapterUtil";
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let chapterId ="";
  let subjectName = "";
</script>

<form class="flex flex-col space-y-6" style="padding: 3%;" on:submit|preventDefault={async() => {
  try {
    dispatch("showBodyMask");
    let result = await addSubjectToChapter(chapterId, subjectName);
    if(!result.success) {
      dispatch("showMessage", {message: result.errorMessage, success: false});
    } else {
      dispatch("showMessage", {message: "Успешно добавлено", success: true, newSubjectId: result.data});
    }
  } catch (error) {
    dispatch("showMessage", {message: error, success: false});
  }
  finally {
        dispatch("hideBodyMask");
    }
}}>
    <Input placeholder="Название тематики" bind:value={subjectName}/>
    <Button color="dark" type="submit">Создать</Button>
</form>