<script>
  import { navigate } from 'svelte-navigator';
    import  {getFileById} from '../../utils/getFileByIdUtils'
    import { Spinner } from 'flowbite-svelte';
    export let name;
    export let titleId;
    export let url = "";
    export let hour;
    export let column;
    export let row;

    let img;
    if(titleId != null) {
        img = getFileById(titleId);
    }
</script>

<div class="calendar-events-event" style="grid-column: {column}; grid-row: {row}">
    {#if hour != null}
            <p>{hour}</p>
    {/if}
    <div class="calendar-events-content" style="cursor: {url == "" ? "none" : "pointer"};" on:click={() => {
      debugger;
      if(url != "") {
        navigate(url);
      }
    }}>
        {#if img != null}
            {#await img}
                <Spinner color="gray"/>
            {:then imageData} 
                <img src={imageData.href} alt="im"/>
            {/await}
        {/if}
        {#if name != null}
            <p>{name}</p>
        {/if}
    </div>
</div>

<style>
    .calendar-events-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 50px;
    padding: 4%;
    z-index: 0;
}

.calendar-events-content p {
  opacity: 0.4;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 4%;
}

.calendar-events-content:hover {
  background-color: white;
  z-index: 10;
  overflow: visible;
}

.calendar-events-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5%;
}

.calendar-events-event img {
  width: 55px;
  height: 55px;
  border-radius: 40px;
  background-size: cover;
}
</style>