<script>
    import { Listgroup, Modal, Button, Mark, Heading, SpeedDial, ListgroupItem, ButtonGroup } from 'flowbite-svelte';
    import SubjectCardModal from './Form/SubjectCardModal.svelte';
    import {deleteSubject} from "../../utils/getChaptersSubject";
    import { navigate } from 'svelte-navigator';
    import {deleteChapter} from "../../utils/chapterUtil";
    import PlaneEventCardModal from './Form/PlaneEventCardModal.svelte';
    import "../UI/tailwindapp.css";
    import LoadingMask from '../UI/LoadingMask.svelte';
    import NotFound from './Form/NotFound.svelte';
    import { createEventDispatcher } from 'svelte';
    import localUser from '../pages/Auth/localUser';
  import { bind } from 'svelte/internal';

    const dispatch = createEventDispatcher();
    export let chapter;
    export let roomId = "";
    export let subjects = [];

    let showError = false;
    let userRooms = [];
    localUser.subscribe((user) => {
        userRooms = user.rooms;
    })

    let loading = false;

    let formModal = false;
    let buttons = [];
    subjects.forEach((elem) => {
        debugger;
        buttons.push({name: elem.name, mycustomfield: {id: elem.id, fileId: elem.fileId == '' ? "new" : elem.fileId}})
    });

    let modalComponent = {
        component: SubjectCardModal,
        props: {chapterId: chapter.id}
    }
</script>

<div style="margin-top: 2%; margin-bottom: 2%">
    <div class="sub-header">
        <div style="width: fit-content;">
            <Heading tag="h6"><Mark bgColor="bg-gray-800">{chapter.name}</Mark></Heading>
        </div>
        {#key userRooms}
            {#if userRooms.includes(roomId)}
                <ButtonGroup>
                    <Button on:click={async() => {
                        try {
                            let result = await deleteChapter(chapter.id);
                            if(!result.success) {
                                dispatch("showMessage", {message: result.errorMessage, success: false});
                            } else {
                                dispatch("showMessage", {message: "Успешно удалено", success: true});
                            }
                        } catch (error) {
                            dispatch("showMessage", {message: error, success: false});
                        }
                    }}><p style="color:black">Удалить</p></Button>
                    <Button on:click={() => {
                        debugger
                        dispatch("editChapter", {id: chapter.id, name: chapter.name})
                    }}><p style="color:black">Редактировать</p></Button>
                    <Button on:click={() => {
                        modalComponent.component = SubjectCardModal;
                        modalComponent.props = {chapterId: chapter.id}
        
                        formModal = true;
                    }}><p style="color:black">Добавить тему</p></Button>
                    <Button on:click={() => {
                        modalComponent.component = PlaneEventCardModal;
                        modalComponent.props = {chapterId: chapter.id, roomId: roomId};
        
                        formModal = true;
                    }}><p style="color:black">Запланировать событие</p></Button>
                </ButtonGroup>
            {/if}
        {/key}
    </div>
    {#if buttons.length > 0}
        <Listgroup active items={buttons} let:item style="width: 60rem;" on:click={(e) => {
            if(!e.detail.mycustomfield.isDeleteting) {
                if(e.detail.mycustomfield.fileId == "new" && !userRooms.includes(roomId)) {
                    showError = true;
                    return;
                }
                navigate(`/WorkSpace/ChapterModuleSubject/${e.detail.mycustomfield.id}/${e.detail.mycustomfield.fileId}/${roomId}`);
            }
        }}>
            <div style="display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%; align-items: center;">
            <p>{item?.name}</p>
            {#key userRooms}
                {#if userRooms.includes(roomId)}
                    <Button color="red" class="w-4" on:click={async() => {
                        try {
                            item.mycustomfield.isDeleteting = true;
                            let result = await deleteSubject(item.mycustomfield.id);
                            if(!result.success) {
                                dispatch("showMessage", {message: result.erroeMessage, success: false});
                            } else {
                                dispatch("showMessage", {message: "Успешно удалено", success: true});
                            }
                        } catch (error) {
                            dispatch("showMessage", {message: error, success: false});
                        }
                }}>×</Button>
                {/if}
            {/key}
            </div>
        </Listgroup>
    {/if}
</div>

<Modal title={modalComponent.component === PlaneEventCardModal ? "Планирование" : "Добавление тематики"} bind:open={formModal} size="sm" autoclose={false} class="w-full">
    <svelte:component this={modalComponent.component} {...modalComponent.props} on:showBodyMask={() => {
        loading = true;
    }} on:hideBodyMask={() => {
        loading = false;
    }}
    on:showMessage={(e) => {
        dispatch("showMessage", e.detail);
        formModal = false;
    }}/>
  </Modal>

  <LoadingMask bind:showMask={loading} />
  {#key showError}
    <NotFound openValue={showError} on:closed={() => {
        showError = false;
    }}/>
  {/key}

<style>
    .sub-header{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 0.5rem;
    }
</style>