<script>
    import {getFileById} from '../../utils/getFileByIdUtils';
    import { createEventDispatcher } from 'svelte';

    export let id;
    export let name;
    export let description;
    export let durationOfCource;
    export let titleId;
    export let roomId = "";

    const dispatch = createEventDispatcher();
    const svg = getFileById(titleId);
</script>

<div class="cource-card-container" on:click={() => dispatch("getCourceDescription", {id: id, courceName: name, courceDescription: description, durationOfCource: durationOfCource, roomId: roomId})}>
    {#await svg}
        <rect style="width: 200px; height: 200px"></rect>
    {:then datasvg} 
        <div class="cource-card-title-image">
            {@html datasvg }
        </div>
    {/await}
    <p id="cource-card-name">{name}</p>
    <p id="cource-card-description">{description}</p>
  </div>
    

<style>
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../Fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../Fonts/OpenSans/OpenSans-Bold.woff') format('woff');
}


.cource-card-container {
  margin: 2%;
  cursor: pointer;
  width: 15rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.cource-card-title-image{
  width: 80%;
  margin: 7%;
  stroke: black;
}

.cource-card-container:hover .cource-card-title-image{
  stroke: #9f0;
}

#cource-card-name {
  font-family: 'Open Sans Bold';
  font-size: large;
  margin: 5%;
}

#cource-card-description {
  font-family: 'Open Sans SemiBold';
  font-size: small;
  margin: 5%;
  opacity: 0.7;
}
</style>