<script>
    import {Button, Card, Input, SpeedDial, SpeedDialButton} from 'flowbite-svelte';
    import AddExpanderItem from '../../public/pictures/SpeedDial/AddExpanderItem.svelte';
    import DeleteExpanderItem from '../../public/pictures/SpeedDial/DeleteExpanderItem.svelte';
    import {addExpander} from "../../utils/createCource.js";
    import ExpanderVariantForm from './ExpanderVariantForm.svelte';
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    let isFocused = false;
    export let expanderId = "";
    export let courceId = "";
    export let expander ="";
    export let expanderVariantValues = [];
    let isChanged = false;

</script>

<div>
    <Card size="md" on:focusout={(ev) => {
        try {
            if(!(ev.relatedTarget.innerText.includes("Добавить блок навыков") || ev.relatedTarget.innerText.includes("Удалить карточку навыка"))) {
            isFocused = false;
        }
        } catch (error) {
            isFocused = false;
        }
    }}>
        <form on:submit|preventDefault={async () => {
            try {                
                if(expanderVariantValues.length <= 0) {
                    dispatch("showError", {error: `Добавьте хотя бы один подпункт к блоку навыков для сохранения`});
                    return;
                }                
                let values = expanderVariantValues.map(c => {
                    return {
                        expanderName: c.expanderName,
                        expanderId: c.expanderId,
                        isChanged: c.isChanged,
                        expanderVariantValues: c.expanderVariantValues.map(cc => {return {expanderValueName: cc.expanderValueName,
                                                                                         expanderValueId: cc.expanderValueId,
                                                                                         isChanged: cc.isChanged}})
                    }
                });
                let result = await addExpander(courceId, expander, isChanged, expanderId, values);
                if(!result.success) {
                    dispatch("showError", {error: `При изменении блока навыков возникла ошибка: ${result.errorMessage}`});
                } else {
                    dispatch("successCreation", {message: "Успешно добавлено", expanderValue: {name: expander, values: values}});
                }
            } catch (error) {
                dispatch("showError", {error: `При изменении блока навыков возникла ошибка: ${error}`});
            }
        }}>
            <div on:focusout={(ev) => {
                try {
                    if(!(ev.relatedTarget.innerText.includes("Добавить блок навыков") || ev.relatedTarget.innerText.includes("Удалить карточку навыка"))) {
                    isFocused = false;
                }
                } catch (error) {
                    isFocused = false;
                }
            }}>
                <Input size="sm" placeholder="Наименование" bind:value={expander} required on:focus={() => {
                    isFocused = true;
                }} on:change={() => {
                    isChanged = true;
                }}/>
            </div>
            {#key isFocused}
                <div style="visibility: {isFocused ? "visible" : "hidden"};">
                    <SpeedDial color="red">
                        <SpeedDialButton name="Добавить блок навыков" on:click={() => {
                            expanderVariantValues.push({expanderName: "", position: expanderVariantValues.length, expanderVariantValues: [], isChanged: false});
                            expanderVariantValues = expanderVariantValues;
                        }}>
                            <AddExpanderItem class="w-6 h-6"/>
                        </SpeedDialButton>
                        <SpeedDialButton name="Удалить карточку навыка">
                            <DeleteExpanderItem class="w-6 h-6"/>
                        </SpeedDialButton>
                    </SpeedDial>
                </div>
            {/key}
            {#key expanderVariantValues}
                {#each expanderVariantValues as expanderVariantValue}
                    <ExpanderVariantForm {...expanderVariantValue} on:expanderVariantChanged={(event) => {
                        let index;
                        if(event.detail.expanderId) {
                            index = expanderVariantValues.findIndex(c => c.expanderId == event.detail.expanderId);
                        } else {
                            index = expanderVariantValues.findIndex(c => c.position == event.detail.position);
                        }
                        expanderVariantValues[index] = event.detail;
                        expanderVariantValues = expanderVariantValues;
                    }}
                    on:expanderVariantDeleted={(event) => {
                        let index;
                        if(event.detail.expanderId) {
                            index = expanderVariantValues.findIndex(c => c.expanderId == event.detail.expanderId);
                        } else {
                            index = expanderVariantValues.findIndex(c => c.position == event.detail.position);
                        }
                        
                        expanderVariantValues.splice(index, 1);
                        expanderVariantValues = expanderVariantValues;
                    }}/>
                {/each}
            {/key}
            <Button color="dark" type="submit">Сохранить</Button>
            
        </form>
    </Card>
    
</div>
