<script>
  import { Button, Card, Input, SpeedDial, SpeedDialButton } from "flowbite-svelte";
  import {deleteExpanderVariantValue, deleteExpanderVariant} from "../../utils/getCourceDescription.js";
  import AddExpanderItem from "../../public/pictures/SpeedDial/AddExpanderItem.svelte";
  import ExpanderValueForm from "./ExpanderValueForm.svelte";
  import DeleteExpanderItem from "../../public/pictures/SpeedDial/DeleteExpanderItem.svelte";
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  let isFocused = false;
  export let expanderId = "";
  export let expanderName = "";
  export let position = "";
  export let expanderVariantValues = [];
  let isChanged = false;
</script>

<Card on:focusout={(ev) => {
    try {
        if(!(ev.relatedTarget.innerText.includes("Добавить навык") || ev.relatedTarget.innerText.includes("Удалить блок навыков"))) {
        isFocused = false;
    }
    } catch (error) {
        isFocused = false;
    }
}}>
    <Input size="sm" placeholder="Наименование блока навыков" bind:value={expanderName} required on:change={() => {
        isChanged = true;
        dispatch("expanderVariantChanged", {expanderName: expanderName, position: position, expanderVariantValues: expanderVariantValues, isChanged: true, expanderId: expanderId});
    }} on:focus={() => {
        isFocused = true;
    }}/>
    {#key isFocused}
        {#if isFocused === true}
            <SpeedDial color="dark"  textOutside>
                <SpeedDialButton name="Добавить навык" on:click={() => {
                    expanderVariantValues.push({expanderValueName: "", position: expanderVariantValues.length, isChanged: false, expanderVariantValues: expanderVariantValues});
                    expanderVariantValues = expanderVariantValues;
                }}>
                    <AddExpanderItem class="w-6 h-6"/>
                </SpeedDialButton>
                <SpeedDialButton name="Удалить блок навыков"  on:click={async() => {
                    if(expanderId !== "") {
                        let result = await deleteExpanderVariant(expanderId);
                        if(!result.success) {
                            dispatch("showError", {error: `При удалении блока навыка возникла ошибка: ${result.errorMessage}`});
                            return;
                        }
                        dispatch("expanderVariantDeleted", {expanderId: expanderId});
                    } else {
                        dispatch("expanderVariantDeleted", {position: position});
                    }
                    
                }}>
                    <DeleteExpanderItem class="w-6 h-6"/>
                </SpeedDialButton>
            </SpeedDial>
        {/if}
    {/key}
    {#key expanderVariantValues}
        {#each expanderVariantValues as valueExpander}
            <ExpanderValueForm {...valueExpander} on:expanderValueChanged={(event) => {
                let index;

                if(event.detail.expanderValueId === "") {
                    index = expanderVariantValues.findIndex(c => c.position == event.detail.position);
                } else {
                    index = expanderVariantValues.findIndex(c => c.expanderValueId == event.detail.expanderValueId);
                }
                
                expanderVariantValues[index] = event.detail;
                dispatch("expanderVariantChanged", {expanderName: expanderName, position: position, expanderVariantValues: expanderVariantValues});
            }}
            on:xpanderValueDeleted={async (event) =>{
                let index;
                if(event.detail.expanderValueId !== "") {
                    let result = await deleteExpanderVariantValue(event.detail.expanderValueId);
                    if(!result.success) {
                        dispatch("showError", {error: `При удалении навыка возникла ошибка: ${result.errorMessage}`});
                        return;
                    } 
                    index = expanderVariantValues.findIndex(c => c.expanderValueId == event.detail.expanderValueId);
                } else {
                    index = expanderVariantValues.findIndex(c => c.position == event.detail.position);
                }
            
                expanderVariantValues.splice(index, 1);
                expanderVariantValues = expanderVariantValues;
                dispatch("expanderVariantChanged", {expanderName: expanderName, position: position, expanderVariantValues: expanderVariantValues});
            }}/>
        {/each}
    {/key}
</Card>