<script>
  import { Button, Card, Input } from "flowbite-svelte";
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let expanderValueId = "";
  export let expanderValueName = "";
  export let position = "";
  let isChanged = false;
</script>

<Card>
    <Input bind:value={expanderValueName} placeholder="Наименование навыка" required on:change={() => {
        isChanged = true;
        dispatch("expanderValueChanged", {expanderValueName: expanderValueName, position: position, expanderValueId: expanderValueId, isChanged: true});
    }}/>
    <Button color="red" on:click={() => {
        dispatch("xpanderValueDeleted", {position: position, expanderValueId: expanderValueId});
    }}>Удалить</Button>
</Card>