<script>
    import { Card, ImagePlaceholder, Button } from 'flowbite-svelte';
    import {getFileById} from "../../utils/getFileByIdUtils";
    import {deleteTopicById, deleteCource} from "../../utils/createCource.js";
    import { createEventDispatcher } from 'svelte';
    import {get_current_component} from 'svelte/internal';

    const THISComponent = get_current_component()

    function destroySelf(){
        THISComponent.$destroy();
    }

    const dispatch = createEventDispatcher();
    export let id = '';
    export let name = '';
    export let description = '';
    export let titleId = '';
    export let tag = '';

    let formModal = false;
    let image = getFileById(titleId);
</script>

{#if tag === "cource"}
    <Card size="sm">
        <h5 class="sm text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{name}</h5>
        <p class="sm font-normal text-gray-700 dark:text-gray-400 leading-tight">{description}</p>
        <Button size="xs" color="light" class="w-fit" on:click={() => {
            dispatch("openEditPage", {nameDefault: name, idDefault: id, tag: tag, isEditPage: true, descriptionDefault: description});
        }}>Редактировать</Button>
        <Button size="xs" color="dark" class="w-fit" on:click={async() => {
            try {
                let result = await deleteCource(id);
                if(!result.success) {
                    dispatch("showError", {error: `${result.errorMessage}`})
                } else {
                    destroySelf();
                }
            } catch (error) {
                dispatch("showError", {error: error})
            }
        }}>Удалить</Button>
    </Card>
    {:else}
    <div class="space-y-4">
        {#await image}
            <ImagePlaceholder />
        {:then imageData} 
        <Card img={imageData.href} horizontal size="md" >
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 leading-tight">{name}</p>
            <Button size="xs" color="light" class="w-fit" on:click={() => {
                dispatch("openEditPage", {nameDefault: name, idDefault: id, tag: tag, isEditPage: true});
            }}>Редактировать</Button>
            <Button size="xs" color="dark" class="w-fit" on:click={async() => {
                try {
                    let result  = await deleteTopicById(id);
                    if(!result.success) {
                        dispatch("showError", {error: `${result.errorMessage}`})
                    } else {
                        destroySelf();
                    }
                } catch (error) {
                    dispatch("showError", {error: error})
                }
            }}>Удалить</Button>
        </Card>
        {/await}
    </div>
{/if}