<script>
  import '../UI/tailwindapp.css';
  import {getFileById} from '../../utils/getFileByIdUtils';
  import { ImagePlaceholder } from 'flowbite-svelte';
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

    export let id;
    export let name;
    export let titleid;

    let image = getFileById(titleid);
    
  //   titleFile.click();
  // window.URL.revokeObjectURL(titleFile.href);
    //let src = window.URL.createObjectURL(new Blob([titleFile])); //URL.createObjectURL(new Blob([titleFile], { type: 'image/jpeg' }));
</script>

  {#await image}
  <div class="container">
    <ImagePlaceholder />
  </div>
  {:then data} 
  <div class="container" on:click={async () => {
    dispatch('topicSelected', id);
  }}  style="background-image: url({data.href}); ">
    <p>{name}</p>
  </div>
    <!-- <img src={data.href} alt=""/> -->
  {/await}
  <!-- <img src={titleFile.href} alt=""/> -->

<style>
    .container {
      margin: 1%;
  width: 300px;
  height: 200px;
  border-radius: 10%;
  background-size: cover;
  cursor: pointer;
}

.container p {
  padding-top: 10%;
  font-size: xx-large;
  padding-left: 6%;
  color: black;
}

</style>