<script>
    import { onMount } from "svelte";
    import { Router, navigate } from 'svelte-navigator'
    import { checkAuth } from './Auth/auth.js'
    import localUser from "./Auth/localUser.js"
    import { getCalendarEvents } from './Auth/getCalendarEvents.js'

    let slideIndex = 0;
    const slideCount = 2;
    let slider;
    let prevButton;
    let nextButton;
    let slides;

    onMount(async () =>{
      slider = document.querySelector('.slider');
      prevButton = document.querySelector('.prev-button');
      nextButton = document.querySelector('.next-button');
      slides = Array.from(slider.querySelectorAll('.feedbackcard'));
      
      prevButton.addEventListener('click', showPreviousSlide);
      nextButton.addEventListener('click', showNextSlide);

      updateSlider();

      debugger;
      let isUser = await checkAuth();

      if(isUser !== false) {
          localUser.update(user => { 
            user.name = isUser.userName;
            user.id = isUser.id;
            return {...user}
          });
          navigate("WorkSpace");
          return;
      }
    })
    

      function showPreviousSlide() {
        slideIndex = (slideIndex - 1 + slideCount) % slideCount;
        updateSlider();
      }

      function showNextSlide() {
        slideIndex = (slideIndex + 1) % slideCount;
        updateSlider();
      }

      function updateSlider() {
        slides.forEach((slide, index) => {
          if (index === slideIndex) {
            slide.style.display = 'flex';
          } else {
            slide.style.display = 'none';
          }
        });
      }


</script>

<Router>
    <div>
        <div class="header-line">
            <img src="pictures/Lending/Logo.svg" style="height: 28px" alt="logo" />
            <div class="header-links">
              <a href="#">О курсе</a>
              <a href="#">Обучение</a>
              <a href="#">Стажировка</a>
            </div>
          </div>
          <div class="content">
            <div class="title-black">
              <img src="pictures/Lending/Title.svg" style="width: 100%" alt="Title" />
              <button class="button-apply-cource" on:click={async () => {
                navigate("SignIn");
              }}>Перейти к курсам</button>
              <img src="pictures/Lending/Cards.svg" style="width: 100%" alt="Cards"/>
              <img
                src="pictures/Lending/Tables.svg"
                style="width: 70%; margin-top: 14vh" alt="Tables"
              />
            </div>
            <div class="links-cards">
              <div class="row-first">
                <div class="min-cards">
                  <a href="#">
                    <img id="car-min" src="pictures/Lending/OurBlogCard.svg" alt="OurBlogCard"/>
                  </a>
                  <a href="#">
                    <img id="car-min" src="pictures/Lending/RegistCard.svg" alt="RegistCard"/>
                  </a>
                </div>
                <a href="#">
                  <img src="pictures/Lending/EducationCard.svg" style="width: 37vw" alt="EducationCard"/>
                </a>
              </div>
              <a href="#">
                <img
                  src="pictures/Lending/FreeEdicationCard.svg" alt="FreeEducationCard"
                  style="width: 37vw"
                />
              </a>
            </div>
      
            <div class="how-go-education">
              <p style="font-size: 30px">КАК ПРОХОДИТ ОБУЧЕНИЕ?</p>
              <div class="how-go-education-cards">
                <img src="pictures/Lending/first.svg" alt="first" style="width: 18vw" />
                <div class="second-therd-card">
                  <img src="pictures/Lending/second.svg" alt="second" style="width: 18vw" />
                  <img src="pictures/Lending/third.svg" alt="third" style="width: 18vw" />
                </div>
                <div class="button-hourth-cards">
                  <button class="start-education">НАЧАТЬ ОБУЧЕНИЕ</button>
                  <img src="pictures/Lending/hourth.svg" alt="hourth" style="width: 19vw" />
                </div>
                <div class="five-six-cards">
                  <img src="pictures/Lending/fives.svg" alt="fives" style="width: 18vw" />
                  <img src="pictures/Lending/six.svg" alt="six" style="width: 18vw" />
                </div>
              </div>
            </div>
      
            <div class="how-go-intership">
              <div class="intership-cards">
                <img src="pictures/Lending/intershipcard.svg" alt="intershipcard" style="width: 37vw" />
                <img src="pictures/Lending/procents.svg" alt="procents" style="width: 37vw" />
              </div>
              <img src="pictures/Lending/intershipLadies.svg" alt="intershipLadies" style="width: 37vw" />
            </div>
          </div>                   
    </div>
</Router>

<style>
@font-face {
  font-family: 'Benzin';
  src: url('../Fonts/Benzin/Benzin-Regular.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Benzin';
}

.title-black {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #262626;
  font-family: 'Benzin';
  font-size: 13px;
  padding: 50px;
}

.header-line {
  font-family: 'Benzin';
  font-size: 13px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 55%;
  padding: 5%;
  background-color: #262626;
}

.header-links {
  display: flex;
  flex-direction: row;
  gap: 10%;
  min-width: 320px;
}

a {
  color: white;
  text-decoration: none;
}

.button-apply-cource {
  cursor: pointer;
  margin-top: 2%;
  font-family: 'Benzin';
  border-radius: 27px;
  padding: 1%;
  background: transparent;
  border-color: white;
  color: white;
}

.button-apply-cource:hover{
    background-color: white;
    color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links-cards {
  align-items: center;
  margin: 5%;
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.row-first {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.min-cards {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

#car-min {
  width: 18vw;
}

.how-go-education {
}

.how-go-education-cards {
  display: flex;
  flex-direction: row;
  gap: 1%;
  margin-bottom: 10%;
}

.second-therd-card {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.button-hourth-cards {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.start-education {
  margin: 2% 0%;
  font-family: 'Benzin';
  border-radius: 27px;
  padding: 2%;
  background: #88ff00;
  border-color: #88ff00;
  color: black;
  width: 19.2vw;
}
.five-six-cards {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.how-go-intership {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

.intership-cards {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.feedbackcard {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.feedback-text {
  display: flex;
  flex-direction: column;
  gap: 4%;
}

.slider-container {
  align-items: center;
  margin-top: 5%;
  display: flex;
  width: 80vw;
  flex-direction: row;
  overflow: hidden;
  color: white;
  gap: 10%;
}

.slider-container p {
}

.slider {
  display: flex;
  width: 50vw;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  object-fit: cover;
  width: 24vw;
  height: 20vw;
  margin: 2%;
  border-radius: 10%;
}

.prev-button,
.next-button {
  transform: translateY(-50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: solid;
  font-size: 24px;
  color: white;
}

.prev-button {
  left: 10px;
}

.feedback {
  margin-top: 5%;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-button {
  right: 10px;
}

.social-buttons {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

</style>