<script>
 import MainUiContainer from "../UI/MainUiContainer.svelte";
</script>

<main>
    <div class="blueprint">
        <MainUiContainer />
    </div>
</main>

<style>

html,body { height: 1000px; margin: 0px; padding: 0px; }
.blueprint {
  width: 100%;
  height: 1000px;
  background: #1f1f1f;
  background-image: linear-gradient(90deg, rgb(165 165 165 / 30%) 1px, transparent 0),linear-gradient(0deg, rgb(165 165 165 / 30%) 1px, transparent 0),linear-gradient(rgba(165 165 165 / 30%) 1px, transparent 0), linear-gradient(90deg,rgba(165 165 165 / 30%) 1px, transparent 0);
  background-size:
    /*   Размеры трёх сеток   */
    128px 128px, 128px 128px,
    32px 32px, 32px 32px,
    16px 16px, 16px 16px;
}
</style>