<script>
    import ConstructorTitle from "../../../public/pictures/CourceTitles/ConstructorTitle.svelte";
    import CreateCourceCardModal from "../../Cards/Form/CreateCourceCardModal.svelte";
    import {Modal, Toast, Spinner} from 'flowbite-svelte';
    import YourWorks from "./YourWorks.svelte";
    import CreateTopicCardModal from "../../Cards/Form/CreateTopicCardModal.svelte";
    import { getCourceDescription } from "../../../utils/getCourceDescription";
    import LoadingMask from "../../UI/LoadingMask.svelte";

    let mountComponent = {
      component: CreateCourceCardModal,
      props: undefined
    }

    let loading = false;
    let isNeedToReload = false;

    let errorMessage = "";
    let successMessage = "";
    let formModal = false;
    let isLoading = false;
    let success;
</script>

<div class="container">
    <h2 style="font-size: 2em;
    font-weight: bold;">Выберите доску проекта</h2>
    <div class="item-create-container" >
      <div class="item-create" on:click={() => {
        mountComponent.component = CreateTopicCardModal;
        mountComponent.props = undefined;
        formModal = true;
        }}>
        <div class="image-title">
            <ConstructorTitle />
        </div>
        <p>Создать тематику</p>
      </div>

      <div class="item-create" on:click={() => {
        mountComponent.component = CreateCourceCardModal;
        mountComponent.props = undefined;
        formModal = true;
        }}>
        <div class="image-title">
            <ConstructorTitle />
        </div>
        <p>Создать курс</p>
      </div>
    </div>

    {#key isLoading}
      <div style="visibility: {isLoading ? "visible" : "hidden"};">
        <Spinner color="gray" />
      </div>
    {/key}
    <Modal bind:open={formModal} size="xs" autoclose={false} class="w-full">
      <svelte:component this={mountComponent.component} {...mountComponent.props} on:successCreation={(event) => {
        success = true;
        successMessage = event.detail.message;
        isNeedToReload = !isNeedToReload;
      }} on:showError={(event) => {
        success = false;
        errorMessage = event.detail.error;
      }} on:closeModal={() => {
        formModal = false;
        isNeedToReload = !isNeedToReload;
      }}/>
    </Modal>


    {#key success}
        <div style="visibility: {success ? "visible" : "hidden"};">
            <Toast color="green" position="bottom-right">
                <svelte:fragment slot="icon">
                <span class="sr-only">✔</span>
                </svelte:fragment>
                {successMessage}
            </Toast>
        </div>
        
        <div style="visibility: {success === false ? "visible" : "hidden"};">
            <Toast color="red" position="bottom-right">
            <svelte:fragment slot="icon">
            <span class="sr-only">&#9888;</span>
            </svelte:fragment>
            {errorMessage} 
        </Toast>
        </div>
    {/key}

    {#key isNeedToReload}
      <YourWorks on:openEditPage={ async(event) => {
        mountComponent.props = event.detail;
        if(event.detail.tag === "topic") {
          mountComponent.component = CreateTopicCardModal;
        } else {
          isLoading = true;
          mountComponent.component = CreateCourceCardModal;
          let result = await getCourceDescription(event.detail.idDefault);
          mountComponent.props.expanderList = result.map(c => {return {expander: c.expanderName, expanderVariantValues: c.expanderValues.map(cc => {return {expanderName: cc.name, expanderId: cc.id, expanderVariantValues: cc.values.map(ccc => {return {expanderValueName: ccc.value, expanderValueId: ccc.id}})}})}})
          isLoading = false;
        }
        
        formModal = true;
      }}/>
    {/key}
</div>

<LoadingMask bind:showMask={loading} />

<style>
.container{
    margin-left: 10%;
}

.item-create-container {
  display: flex;
  flex-direction: row;
  background-color: #f4f4f4;
  border-radius: 20px;
  gap: 2%;
  padding: 1%;
}

.item-create {
  display: flex;
  cursor: pointer;
  width: 20%;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  padding: 0.5%;
}

.image-title{
  width: 90%;
  background-size: contain;
  border-radius: 20px;
}

.item-create:hover {
  background-color: #d9d9d9;
}
</style>