<script>
     import Editor from '@tinymce/tinymce-svelte';
    import { Button, Spinner, Toast  } from 'flowbite-svelte';
    import {addFileToChapter} from "../../../utils/chapterUtil.js";
    import {getFileById} from "../../../utils/getFileByIdUtils.js";
    import LoadingMask from '../../UI/LoadingMask.svelte';
    import localUser from '../Auth/localUser.js';
    import { writable } from 'svelte/store';
  import { navigate } from 'svelte-navigator';
    
    export let id = "";
    export let fileId = "new";
    export let roomId = ""

    let userRooms = [];
    localUser.subscribe((user) => {
        userRooms = user.rooms;
    })
    let value = "";
    let isUpdated = false;
    let errorMessage = "";

    let loading = false;

    let fileContent = getFileById(fileId);
</script>

{#key loading}
    <LoadingMask showMask={loading}/>
{/key}
<div>
    {#if fileId != "new"}
        {#await getFileById(fileId)}
        <Spinner color="green"/>
            {:then data} 
                <div style="display: none;">{
                    value === "" ? value = data : value
                }</div>
                {#key userRooms}
                    {#if userRooms.includes(roomId)}
                        <Editor apiKey="9vdze8d2s21tlng89boss8dr8lmzce2wmbc0nqhxcqskxn1x" bind:value={value} />
                        <Button color="dark" on:click={async () => {
                            try {
                                loading = true;
                                
                                let result = await addFileToChapter(id, value);
                                if(!result.success) {
                                    errorMessage = result.errorMessage;
                                    isUpdated = true;
                                    loading = false;
                                    return;
                                }
                                navigate(`/WorkSpace/ChapterModuleSubject/${id}/${result.response}/${roomId}`);                                  
                            } catch (error) {
                                errorMessage = error;
                                isUpdated = true;
                                loading = false;
                            }
                        }}>Сохранить</Button>
                        {:else}
                        <Editor disabled apiKey="9vdze8d2s21tlng89boss8dr8lmzce2wmbc0nqhxcqskxn1x" bind:value={value} />
                    {/if}
                    
                {/key}
    {/await}
    {:else}
        {#key userRooms}
        {#if userRooms.includes(roomId)}
            <Editor apiKey="9vdze8d2s21tlng89boss8dr8lmzce2wmbc0nqhxcqskxn1x" bind:value={value} />
            <Button color="dark" on:click={async () => {
                try {
                    loading = true;
                    
                    let result = await addFileToChapter(id, value);
                    if(!result.success) {
                        errorMessage = result.errorMessage;
                    }
                    isUpdated = true;
                    loading = false;
                } catch (error) {
                    errorMessage = error;
                    isUpdated = true;
                    loading = false;
                }
            }}>Сохранить</Button>
            {:else}
            <Editor disabled apiKey="9vdze8d2s21tlng89boss8dr8lmzce2wmbc0nqhxcqskxn1x" bind:value={value} />
        {/if}
        
        {/key}
    {/if}
   
</div>
{#key isUpdated}
    <div style="visibility: {isUpdated  ? "visible" : "hidden"};">
        <Toast color="{errorMessage === "" ? "green" : "red"}" position="bottom-right" on:close={() => {isUpdated = false; errorMessage = ""}}>
            <svelte:fragment slot="icon">
            <span class="sr-only">&#9888;</span>
            </svelte:fragment>
            {errorMessage ?? "Успешно обновлено"} 
        </Toast>
    </div>
{/key}

<style>
    div{
        display: flex;
        flex-direction: column;
        gap: 1%;
        margin-left: 10%;
    }
</style>