<script>
    import { Heading, Secondary, Gallery, ImagePlaceholder } from 'flowbite-svelte';
    import {getUserWorks} from "../../../utils/getUserWorks.js";
    import { createEventDispatcher } from 'svelte';
    import IniversalCard from '../../Cards/IniversalCard.svelte';
    import localUser from '../Auth/localUser.js';
    let loadingGallery = new Array(10).fill(ImagePlaceholder);
    let userData;
    localUser.subscribe((user) => {
        userData = user.rooms;
    });

    const dispatch = createEventDispatcher();
</script>

<div>
    <Heading>Ваши проекты</Heading>
    {#key userData}
        {#await getUserWorks()}
        <Gallery items={loadingGallery}/>
        {:then worksData} 
            <Secondary>Курсы</Secondary>
            <div class="container-list">
                {#each worksData.cources ?? [] as cource}
                    <IniversalCard {...cource} tag="cource" on:openEditPage={(event) =>{
                        dispatch("openEditPage", event.detail);
                    }}/>
                {/each}
            </div>
            <Secondary>Тематики</Secondary>
            <div class="container-list">
                {#each worksData.topics ?? [] as topic}
                    <IniversalCard {...topic} tag="topic" on:openEditPage={(event) =>{
                        dispatch("openEditPage", event.detail);
                    }}/>
                {/each}
            </div>
        {/await}
    {/key}
</div>

<style>
    .container-list{
        display: flex;
        flex-direction: row;
        gap: 1%;
        flex-wrap: wrap;
    }
</style>