<script>
  

  //import classNames from 'classnames';

export let  As;
export let className;
export let children;
export let href;
export let onClick;

  const classes = ""//classNames(className, onClick);

</script>

<main>
  {#if (As == "p")}
    <p on:click={() => {onClick()}}>{children}</p>
  {/if}
  {#if (As == "img")}
    <img src="pictures/CourceTitles/joker.svg" alt="u"/>
  {/if}
</main>

<style>

</style>