<script>
    import { checkAuth } from "../Auth/auth.js";
    import { navigate } from 'svelte-navigator';
    import localUser from '../Auth/localUser.js';
    import { getMatrixClient} from "../../../utils/getMessageFromMatrix";
    import TopContainer from "../../MainInterface/TopContainer.svelte";
    import LeftContainer from "../../MainInterface/LeftContainer.svelte";
    import TopicsContainer from "../../MainInterface/TopicsContainer.svelte";
  import { Toast } from "flowbite-svelte";
  import LoadingMask from "../../UI/LoadingMask.svelte";

    let errorMessage = "";
    let user;
    localUser.subscribe(data => {
        user = data;
    })
    let check = checkAuth();
    export let defaultComponent = TopicsContainer;
    export let defaultProps = undefined;

    let needToReload = false;

    let mountComponent = {
        component: defaultComponent,
        props: defaultProps
    };

    const Calendar = () => {
        navigate(`/WorkSpace/Calendar`);
    };
    const Cource = (id) => {
        navigate(`/WorkSpace/Cources/${id}`);
    };
</script>

<div class="main-window-container">
    {#if user.id == ""}
        {#await check}
            <LoadingMask showMask={true} />
        {:then data} 
            {#if data != false}
                {#await getMatrixClient()}
                {/await}
                <LeftContainer  on:replaceToCalendar={(event) => {Calendar()}} on:replaceToWorkSpace={(event) => {navigate("/WorkSpace")}} />
                <div class="content-container">
                    <TopContainer on:showMessage={(e) => {
                        errorMessage = e.detail.errorMessage;
                    }} on:needToReload={(e) => {
                        mountComponent.props = e.detail;
                        needToReload = !needToReload;
                    }}/>
                    {#key needToReload}
                        <svelte:component this={mountComponent.component} {...mountComponent.props} 
                        on:topicSelected={(event) => {Cource(event.detail)}}/>
                    {/key}
                </div>		
            {/if}
            {#if data == false}
                {navigate("/SignIn")}
            {/if}
        {/await}
    {:else}
        {#if user.avatar_url == ""}
            {#await getMatrixClient()}
            {/await}
        {/if}
        <LeftContainer on:replaceToCalendar={(event) => {Calendar()}} on:replaceToWorkSpace={(event) => {navigate("/WorkSpace")}} />
        <div class="content-container">
            <TopContainer on:showMessage={(e) => {
                errorMessage = e.detail.errorMessage;
            }} on:needToReload={(e) => {
                mountComponent.props = e.detail;
                needToReload = !needToReload;
            }}/>
           {#key needToReload}
                <svelte:component this={mountComponent.component} {...mountComponent.props} 
                on:topicSelected={(event) => {Cource(event.detail)}}/>
           {/key}
        </div>
    {/if}
</div>

{#key errorMessage}
    <div style="visibility: {errorMessage != ""  ? "visible" : "hidden"};">
        <Toast color="red" position="bottom-right" on:close={() => {errorMessage = ""}}>
            <svelte:fragment slot="icon">
            <span class="sr-only">&#9888;</span>
            </svelte:fragment>
            {errorMessage} 
        </Toast>
    </div>
{/key}

<style>
    .main-window-container {
  	display: flex;
  	flex-direction: row;
}

.content-container{
	width: 90%;
    height: 4%;
}
</style>