<script>
  import { Spinner } from "flowbite-svelte";

  export let showMask = false;
</script>

{#key showMask}
    <div class="loading-mask" style="display: {showMask ? "flex" : "none"};">
        <div class="spinner-container">
            <Spinner color="green" />
        </div>
    </div>
{/key}

<style>
    .loading-mask{
        position: fixed;
        z-index: 1000;
        filter: opacity(0.5);
        background-color: white;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: auto;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .spinner-container {
        filter: none;
    }
</style>