<script>
  import interact from 'interactjs';
  import ContainerContent  from '../../utils/UI/ContainerContent.svelte'
    
  let mouseIsUp = false;

  interact('.draggable')
    .draggable({
      inertia: true,
      modifiers: [
        interact.modifiers.restrictRect({
          restriction: 'parent',
          endOnly: true
        })
      ],
      autoScroll: true,

      listeners: {
        move: dragMoveListener,

        end (event) {
          mouseIsUp = false;
        }
      }
    })

  function dragMoveListener (event) {
    var target = event.target
    

    var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx;
    var y = 0;
    if(mouseIsUp){
      y = parseFloat(target.getAttribute('data-y'));
    } else {
      y = (parseFloat(target.getAttribute('data-y')) || 0 ) + event.dy;
    } 
    
    target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'
      target.setAttribute('data-x', x)
      target.setAttribute('data-y', y)
    
  }

  window.dragMoveListener = dragMoveListener;

</script>

<main>
    <div on:mouseup={(event) => {mouseIsUp = true;}} id="drag-1" class="draggable">
        <ContainerContent As='p' onClick={() => {console.log("Нажато")}} children="Тест"></ContainerContent>
    </div>    
</main>

<style>

#drag-1{
  width: 25%;
  min-height: 6.5em;
  margin: 1rem 0 0 1rem;
  background-color: #29e;
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}
</style>