<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();
</script>

<button  on:click={() => dispatch("closeCourceDescriptionContainer")}></button>
<button  on:click={() => dispatch("userAvatarUrlInitialized")}></button>