<script>
  import { getCalendarEvents } from '../pages/Auth/getCalendarEvents';
  import localUser from '../pages/Auth/localUser';
  import CalendarCard from '../Cards/CalendarCard.svelte';
  import { Spinner } from 'flowbite-svelte';

  let user;
  localUser.subscribe((data) => {
    user = data;
  });
  let events = getCalendarEvents() ?? [];

</script>

<div class="calendar-events-container">
    <div class="calendar-events-days">
      <p></p>
      <p>Понедельник</p>
      <p>Вторник</p>
      <p>Среда</p>
      <p>Четверг</p>
      <p>Пятница</p>
      <p>Суббота</p>
    </div>
    <div class="calendar-events-time">
      {#key user}
        {#await events}
          <div style="grid-column: 1/7; padding: 30% 35% 30% 50%;"><Spinner color="gray" /></div>
        {:then data} 
          {#each data as calendar}
            <CalendarCard {...calendar} />
          {/each}
        {/await}
      {/key}
    </div>
  </div>

<style>
    @font-face {
  font-family: 'Open Sans SemiBold';
  src: url('../Fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
}

.calendar-events-container {
  font-family: 'Open Sans SemiBold';
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 1%;
  min-height: 90vh;
  margin: 1%;
  margin-left: 15%;
}

.calendar-events-days,
.calendar-events-time {
  display: grid;
  text-align: center;
  grid-template-columns: 5% 16% 16% 16% 16% 16% 16%;
}
</style>