<script>
    import { getCourceDescription } from '../../utils/getCourceDescription.js';
    import CourceDescriptionExpander from '../Expanders/CourceDescriptionExpander.svelte';
    import { createEventDispatcher } from 'svelte';
    import { navigate } from 'svelte-navigator';
    import localUser from '../pages/Auth/localUser.js';
    import {sendInvite} from "../../utils/getMessageFromMatrix.js";
    export let roomId = "";
    export let id;
    export let courceName;
    export let courceDescription;
    export let durationOfCource;
    const dispatch = createEventDispatcher();

    let userJoinedRooms = [];
    localUser.subscribe((user) => {
        userJoinedRooms = user.joinedRooms;
    })
    let expanders = getCourceDescription(id);
</script>

<div class="cource-description-container">
    <button class="close-description-button" on:click={() => dispatch("closeCourceDescriptionContainer")}>✖</button>
    <h1 style="font-size: 2em;
    font-weight: bold;">Курс «{courceName}»</h1>
    <hr>
    <h4 style="font-size: 1em;
    font-weight: bold;">Программа</h4>
    <p style="color: #626262; margin-botton: 2%">{courceDescription}</p>
    {#if durationOfCource != null}
        <p style="display: flex;flex-direction: row;gap: 2%; margin-bottom: 2%"><span class="duration-span">{durationOfCource}</span> месяца/месяцев обучения</p>
    {/if}
    {#await expanders}
        <p>Загрузка</p>
    {:then expandersData} 
        {#each expandersData as expander}
            <h2 style="font-size: 1.8em;
            font-weight: bold;">{expander.expanderName}</h2>
            <div class="expanders">
                {#each expander.expanderValues as expanderValue}
                    <CourceDescriptionExpander summaryTitle = {expanderValue.name} values = {expanderValue.values} />
                {/each}
            </div>
        {/each}
    {/await}
    <button class="signup-cource-button" on:click={async() => {
        try {
                if(!userJoinedRooms.includes(roomId)) {
                await sendInvite(roomId);
            }
            navigate(`/WorkSpace/CourceModules/${id}/${roomId}`);
        } catch (error) {
            
        }
    }}>
        <p style="font-size: 18px;">Перейти к курсу</p>
        <p style="font-size: 30px;">⟶</p>
    </button>
</div>

<style>
    .cource-description-container{
        position: absolute;
        width: 50vw;
        /* margin-left: 46%; */
        z-index: 100;
        background-color: white;
        border-radius: 20px 0 0 20px;
        padding: 20px;
    }

    .duration-span{
        background-color: #262626;
    min-width: 4%;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding: 2px 0 2px 0;
    }

    .signup-cource-button{
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #AF79F5;
        width: 100%;
        border-radius: 50px;
        color: white;
        height: 50px;
    }

    .close-description-button{
        background-color: #D5D6DA;
        border-radius: 50%;
        width: 2vw;
        height: 2vw;
        cursor: pointer;
        float: right;
    }

    .expanders{
        background-color: #f4f4f4;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 2%;
    }
</style>