<script>
    import '../UI/tailwindapp.css';
    import { CardPlaceholder } from 'flowbite-svelte';
    import { getCourcesByTopic } from '../../utils/getCourcesByTopic.js'
    import Cource from '../Cards/Cource.svelte';
    import {getCourcesByName} from "../../utils/getCourcelistUtils.js";
    import CourceDescriptionContainer from './CourceDescriptionContainer.svelte';
    import BlankComponent from './BlankComponent.svelte';

    export let id;
    export let nameCource = "";

    let collection = nameCource == "" ? getCourcesByTopic(id) : getCourcesByName(nameCource);
    let mountComponent = {
        component: BlankComponent,
        props: undefined,
        brightness: 1
    };

    const CourceDescription = (values) => {
        mountComponent.component = CourceDescriptionContainer;
        mountComponent.props = values;
        mountComponent.brightness = 0.5
    }
    const SetDefaultComponent = () =>{
        mountComponent.component = BlankComponent;
        mountComponent.props = undefined;
        mountComponent.brightness = 1
    }
    
</script>

<div>
    <div class="comp-container"><svelte:component this={mountComponent.component} {...mountComponent.props} on:closeCourceDescriptionContainer={() => SetDefaultComponent()}/></div>
    <main class="topics-container" style="filter: brightness({mountComponent.brightness});">
        {#await collection}
            <div class="placeholder-card">
                <CardPlaceholder />
                <CardPlaceholder />
                <CardPlaceholder />
                <CardPlaceholder />
            </div>
        {:then data} 
        <div class="list-of-topics">
            {#if id == null}
                {#each data.response ?? [] as cource}                    
                        <Cource on:getCourceDescription={(event) => {CourceDescription(event.detail)}} {...cource} />                    
                {/each}
                {:else}
                    {#each data ?? [] as cource}
                        <Cource on:getCourceDescription={(event) => {CourceDescription(event.detail)}} {...cource} />
                    {/each}
            {/if}
        </div>                    
        {/await}
    </main>
</div>

<style>
.list-of-topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    width: -webkit-fill-available;
    align-items: baseline;
    justify-content: flex-start;
}

.comp-container{
    justify-content: flex-end;
    display: flex;
    width: 111.7%;
}

.placeholder-card{
    display: flex;
    flex-direction: row;
    gap: 2%;
    
    flex-wrap: wrap;
    margin-left: 3%;
    width: -webkit-fill-available;
}

.topics-container{
    background-color: #f2f2f2;
    min-height: 100vh;
    width: 90.48vw;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>