<script>
  import { createEventDispatcher } from 'svelte';
  import { navigate } from 'svelte-navigator';
  import localUser from "../pages/Auth/localUser.js"
  import ColorImage from "../../public/pictures/LeftContainer/Color.svg.svelte";
  import MainPageBlack from "../../public/pictures/LeftContainer/MainPageBlack.svg.svelte";
  import Calendar  from "../../public/pictures/LeftContainer/Calendar.svg.svelte";
  import ConstructorIcon from "../../public/pictures/LeftContainer/ConstructorFin.svelte"
  import ConstructorBl from "../../public/pictures/LeftContainer/ConstructorBl.svelte"
  import LogOut from "../../public/pictures/LeftContainer/LogOut.svg.svelte";
  import {deleteCookie} from "../pages/Auth/cookieHelper.js";
  import MainPage from "../../public/pictures/LeftContainer/MainPage.svg.svelte";
  import CalendarBl from "../../public/pictures/LeftContainer/CalendarBlack.svelte";
  

  let localUserValue = {
    name: "",
    id: "",
    avatar_url: ""
  };

  localUser.subscribe((data) => {
    if(data == undefined){
    return;
  }
    localUserValue = data;
  });
  const dispatch = createEventDispatcher();
</script>

<div>
  <div class="left-container">
    <div class="first-level">
      {#key localUserValue}
        {#if localUserValue?.avatar_url != ""}
          <img style="border-radius: 20px; margin-bottom: 10%;" src="{localUserValue.avatar_url}" alt="avatar"/>
        {/if}
        {#if localUserValue?.avatar_url == ""}
          <button>
            <ColorImage />
          </button>
        {/if}
      {/key}
      <button on:click={() => {dispatch('replaceToWorkSpace')}}>
        {#if !window.location.href.toString().includes("Calendar") && !window.location.href.toString().includes("ConstructorSpacePage")}
          <MainPageBlack />
          {:else}
          <MainPage />
        {/if}        
      </button>
    </div>
  
    <div class="second-level">
      <button on:click={() => {dispatch('replaceToCalendar')}}>
        {#if window.location.href.toString().includes("Calendar")}
          <CalendarBl />
          {:else}
          <Calendar />
        {/if}        
      </button>
      <button on:click={() => {navigate("/WorkSpace/ConstructorSpacePage")}}>
        {#if window.location.href.toString().includes("ConstructorSpacePage")}
          <ConstructorBl />
          {:else}
          <ConstructorIcon />
        {/if}
        
      </button>
    </div>
  
    <div class="third-level">
      <button on:click={() => {
        deleteCookie('refresh_token');
        localUser.update(user => {
          return {
            name: '',
            avatar_url: '',
            id: '',
            rooms: new Array(),
            joinedRooms: new Array(),
          }
        })
        navigate("/SignIn");
      }}>
        <LogOut />
      </button>
    </div>
  </div>
</div>

<style>
    .left-container {
  display: flex;
  flex-direction: column;
  width: 8%;
  height: 100vh;
  gap: 27vh;
  background-color: #fafafa;
  align-items: center;
  border-radius: 0% 10.6% 10.6% 0%;
  position: fixed;
}

.left-container button {
  padding-block: 0px;
  padding-inline: 0px;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}

.left-container img {
  width: 40px;
  height: 40px;
}

.first-level {
  display: flex;
  flex-direction: column;
}

.second-level {
  display: flex;
  flex-direction: column;
}

.second-level img {
  width: 44px;
  height: 44px;
}

.third-level {
  display: flex;
  flex-direction: column;
}

.third-level img {
  width: 44px;
  height: 44px;
}

</style>