<script>
    import NotificationNot from "../../public/pictures/LeftContainer/NotificationNot.svg.svelte";
    import NotificationYes from "../../public/pictures/LeftContainer/NotificationYes.svelte";
    import NotificationsList from "../pages/Auth/notification.js";
    import {Tooltip, Search, Button} from "flowbite-svelte";
    import {createEventDispatcher} from 'svelte';
  import { navigate } from "svelte-navigator";

    const dispatch = createEventDispatcher();
    let notifications = [];
    let courceName = "";
    NotificationsList.subscribe(data => {
      notifications = data;
    })
</script>

    <div class="top-container">
        <div style="display: flex;
        flex-direction: row;">
          <Search bind:value={courceName} size="md"/>
          <Button color="dark" on:click={async() => {
            if(courceName == "") {
              dispatch("showMessage", {errorMessage: "Пустое значение", success: false});
            } else if(!window.location.href.toString().includes("/WorkSpace/Cources/Search")){
              navigate(`/WorkSpace/Cources/Search/${courceName}`);
            } else {
              navigate(`/WorkSpace/Cources/Search/${courceName}`);
              dispatch("needToReload", {nameCource: courceName});
            }
          }}>Найти</Button>
        </div>
        {#key notifications}
          {#if notifications.length <= 0}
            <button>
              <NotificationNot />
            </button>
          {:else}
            <button id="ext-ref">
              <NotificationYes  />
            </button>
            <Tooltip reference="#ext-ref" triggeredBy="[id^='ext-ref']">Вас пригласили в комнату. Проверьте свой профиль в Matrix.</Tooltip>
          {/if}
        {/key}
    </div>

<style>
    .top-container {
  display: flex;
  flex-direction: row;
  width: 97vw;
  gap: 2%;
  height: 4%;
  justify-content: flex-end;
  padding: 1% 1% 0 0;
}

.top-container button {
  padding-block: 0px;
  padding-inline: 0px;
  border-width: 0px;
  background-color: transparent;
  cursor: pointer;
}
</style>