<script>
    import '../UI/tailwindapp.css';
    import { ImagePlaceholder } from 'flowbite-svelte';
    import { getTopicList }  from '../../utils/getTopicListUtils';
    import Topic from '../Cards/Topic.svelte';
    import { createEventDispatcher } from 'svelte';
    
    export let props;

	const dispatch = createEventDispatcher();
 
    let topics =  getTopicList();

    // onMount(async () => {
    //     const response = await getTopicList();
    //     topics = response;
    //    // topics.set(response);
    // });

</script>

<main class="topics-container">
    <img src="pictures/CourceTitles/TopicsTitle.svg" alt="topicsTitle" />
    <!-- {#if (topics.length != 0)}
        {#each topics as topic}
            <Topic {...topic} />
            <p>0</p>
        {/each}
    {/if} -->
    {#await topics}
	<div class="list-of-topics">
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
        <div style="margin: 1%;">
            <ImagePlaceholder imgOnly/>
        </div>
    </div>
	{:then data}
    <div class="list-of-topics">
        {#each data as topic }            
			<Topic {...topic} on:topicSelected={(event) => {dispatch('topicSelected', event.detail)}}/>
		{/each}
    </div>
	{/await}
    
</main>

<style>
.list-of-topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.9%;
    width: 100%;
}

.topics-container{
    width: 90.48vw;
    margin-left: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>