<script>
    export let summaryTitle;
    export let values = [];
</script>

<details class="card">
    <summary class="card-header" style="font-size: 1.2em;
    font-weight: bold;">
      {summaryTitle}
    </summary>

    <ul type="disc">
      {#each values as value}
          <li>{value.value}</li>
      {/each}
    </ul>
</details>

<style>
  .card-header{
    cursor: pointer;
  }
</style>