<script>
    import { handleSignup } from "./signUp";
    import { navigate } from "svelte-navigator";
    

    let username;
    let email;
    let password;
</script>

<div>
    <h1>Sign Up</h1>
	<p>username</p>
	<input bind:value={username} />
	<p>email</p>
	<input bind:value={email} />
	<p>password</p>
	<input type="password" bind:value={password} />
	<button on:click={async () => {
        
        debugger;
        const response = await handleSignup(email, password, username);
        if(response.status !== 200){
            return;
        }
        //window.location.href = 'WorkSpace';
        navigate('WorkSpace');
    }}>Continue</button>
	<button on:click={() => navigate('SignIn')}>Sign in</button>
</div>