<script>
    import { handleSigIn } from "./signIn";
    import localUser from "./localUser";
    import { navigate } from "svelte-navigator";
    import { Label, Input, Button, ButtonGroup, InputAddon, Img, Modal } from 'flowbite-svelte';
    import Hide from "../../../public/pictures/CourceTitles/Hide.svelte";
    import Eye from "../../../public/pictures/CourceTitles/Eye.svelte";
    import LoadingMask from "../../UI/LoadingMask.svelte";

    let loading = false;
    let username;
    let password;
    let show = false;
    let errorMsg = "";
    let notSuccess = false;
</script>

<div>
    <Modal title="Ошибка авторизации" bind:open={notSuccess} autoclose outsideclose color="red">
        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">{errorMsg}</p>
    </Modal>
    <div  class="content-container">
        <div class="sign-content-container">
            <p style="font-size: 2em;
            font-weight: bold;">Вход в систему</p>
            <Label for="user-name" class="mb-2">Логин</Label>
            <Input id="user-name" type="text" bind:value={username}/>
            <Label for="show-password1" class="mb-2">Пароль</Label>
            <ButtonGroup class="w-full">
                <InputAddon>
                <button on:click={() => (show = !show)} class="w-6 h-6 b-none-cst">
                    {#if show}
                        <Eye />
                    {:else}
                        <Hide />
                    {/if}
                </button>
                </InputAddon>
                <Input id="show-password1" type={show ? 'text' : 'password'}  bind:value={password}/>
            </ButtonGroup>
    
            <Button color="dark" on:click={async () => {
                loading = true;
                const result = await handleSigIn(password, username);
                if(result.errorMsg){
                    errorMsg = result.errorMsg;
                    notSuccess = true;
                    loading = false;
                    return;
                }
                localUser.update(user => { 
                    user.name = result.username;
                    user.id = result.id;
                    return {...user}
                });
                loading = false;
                navigate('WorkSpace');
            }}>Войти</Button>
        </div>
        <div class="image-container">
            <Img src="pictures/CourceTitles/0001-0139-_1_.gif" style="padding: 5%;
            border-radius: 3rem;" alt="sample 1" class="rounded-lg" figClass="relative max-w-lg transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0" captionClass="absolute bottom-6 px-4 text-lg text-white" />
        </div>
    </div>
</div>

<LoadingMask bind:showMask={loading} />

<style>
    .sign-content-container {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.image-container {
  width: 35em;
  height: 45em;
  background-size: cover;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

</style>