<script>
    import { getChaptersSubjects } from '../../../../utils/getChaptersSubject.js'
    import ChapterSubjectsModule from "../../../Cards/ChapterSubjectsModule.svelte";
    import ChapterCardModal from '../../../Cards/Form/ChapterCardModal.svelte';
    import { ListPlaceholder, Toast, Modal,  Button } from 'flowbite-svelte';
    import LoadingMask from '../../../UI/LoadingMask.svelte';
    import localUser from '../../Auth/localUser.js';
  import { bind } from 'svelte/internal';
    export let id;
    export let roomId = "";

    let userRooms = [];
    localUser.subscribe((user) => {
        userRooms = user.rooms;
    })
    let loading = false;

    let showMessage = "";
    let actionIsSuccess = false;
    let isNeedToReload = false;

    let formModal = false;
    let currentEditingChapter;
</script>

{#key isNeedToReload}
    <div class="cource-modules-container">
        {#await getChaptersSubjects(id)}
        <ListPlaceholder />
    {:then data} 
        <p class="text-5xl dark:text-white">{data.courceName}</p>
        {#each data.values as module}
            <ChapterSubjectsModule {...module} roomId={roomId}  on:showMessage={(e) => {
                actionIsSuccess = e.detail.success;
                showMessage = e.detail.message;

                if(actionIsSuccess) {
                    isNeedToReload = !isNeedToReload;
                }
            }}
            on:editChapter={(e) => {
                formModal = true;
                currentEditingChapter = e.detail;
                currentEditingChapter.courceId = id;
            }}/>
        {/each}
        {#key userRooms}
            {#if userRooms.includes(roomId)}
                <Button color="dark" on:click={() => {
                    formModal = true;
                }}>Добавить главу</Button>
            {/if}
        {/key}
    {/await}
    </div>
{/key}

{#key showMessage}
    <div style="visibility: {showMessage != ""  ? "visible" : "hidden"};">
        <Toast color="{actionIsSuccess ? "green" : "red"}" position="bottom-right" on:close={() => {actionIsSuccess = false; showMessage = ""}}>
            <svelte:fragment slot="icon">
            <span class="sr-only">&#9888;</span>
            </svelte:fragment>
            {showMessage} 
        </Toast>
    </div>
{/key}

<Modal bind:open={formModal} size="md" autoclose={false} class="w-full">
    <ChapterCardModal courceId={id} id={currentEditingChapter?.id} name={currentEditingChapter?.name} on:showMessage={(e) => {
        currentEditingChapter = null;
        actionIsSuccess = e.detail.success;
        showMessage = e.detail.message;

        if(actionIsSuccess) {
            isNeedToReload = !isNeedToReload;
        }
        formModal = false;
    }}/>
  </Modal>

  <LoadingMask bind:showMask={loading} />

<style>
    .cource-modules-container{
        width: 90.48vw;
        margin-left: 9%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

